/* General elements */

body {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.59;
  letter-spacing: 0.5pt;
  background-color: #181A1F;
  color: #ffffff;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0.25pt;
}

strong {
  font-weight: 600;
}

a {
  color: #61AFEF;
}

a:hover {
  color: #E06C75
}

/* Class selectors */

.container {
  width: 500px;
  margin: 0 auto;
}

.card-very-dark-grayish-blue {
  text-align: center;
  background: #21252B;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-profile-picture {
  background: #21252B;
  text-align: center;
  padding: 28px 0px;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 12px;
}

/* ID selectors */

#introduction {
  padding-top: 64px;
}

#bio {
  padding-bottom: 40px;
}

#quote {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.08;
  padding: 0px 16px;
}

#link-to-work {
  padding: 0px 64px;
}

#footer {
  padding-top: 24px;
  padding-bottom: 48px;
}
